# Object files
*.o
obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Doxygen generated docs folder
documentation

# Generated Makefile
Makefile
*.make
